// Définition des variables pour les tailles d'écran
$small-screen: 768px;
$medium-screen: 992px;
$large-screen: 1200px;

@import url('https://fonts.googleapis.com/css2?family=Abel&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import '~sal.js/dist/sal.css';


@font-face {
  font-family: Cunia;
  src: url(/fonts/Cunia.ttf);
}

@font-face {
  font-family: Manuscrit;
  src: url(/fonts/Blluebong.ttf);
}

* {
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: 'Barlow', sans-serif;
  scroll-behavior: smooth;
  min-width: 100%;
  -webkit-user-select: none; /* Pour les navigateurs Webkit */
  -moz-user-select: none; /* Pour les navigateurs Firefox */
  -ms-user-select: none; /* Pour les navigateurs Edge */
  user-select: none; /* Pour les autres navigateurs */
}

.global {
  overflow: hidden;
}

ul {
  text-decoration: none;
  list-style: none;
}

.menuResponsive {
 
  @media screen and (max-width: $small-screen) {
    transform: translateY(150vh);
  }
}

.home {
  position: relative;
  background-image: url(/imagesSite/homebackground.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  min-height: 100vh;


  #arrow {
    position: absolute;
    width: 100%;
    bottom: 13%;

    img {
      width: 70px;

      &:hover {
        width: 78px;
      }
    }
  }



  .slogan {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 17%;

    @media screen and (max-width: $medium-screen) {
      top: 21%;

    }

    @media screen and (max-width: $small-screen) {
      top: 20%;

    }

    img {
      width: 70%;

      @media screen and (max-width: $small-screen) {
        width: 140%;
        margin-left: -20%;

      }
    }
  }

  .contentHome {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 20%;

    h1 {
      width: 100%;
      text-align: center;
      font-family: "Barlow", sans-serif;
      font-weight: 200;
      font-size: 25pt;
      color: white;
    }

    h2 {
      position: absolute;
      color: white;
      font-weight: 100;
      width: 100%;
      top: 50%;
    }
  }

  .header {
    position: fixed;
    width: 100%;
    height: 70px;
    top: 0;
    left: 0;
    z-index: 999;

    .scrolled {
      background-color: #121212;
    }
  }

  nav {
    display: flex;
    height: 100%;
    .open{
      .bar1{
        transform: translateY(8px) rotate(-45deg);
      }
      .bar2 {
        opacity: 0;
      }
      .bar3 {
        transform: translateY(-8px) rotate(45deg);
      }
    }

    .burger {
      position: absolute;
      right: 25px;
      height: 50px;
      top: 22px;
      cursor: pointer;
      z-index: 999 !important;

      .bar {
        width: 35px;
        margin-top: 6px;
        height: 2px;
        background-color: white;
        transition: all .7s;
        display: none;

        @media screen and (max-width: $small-screen) {
          display: block;

        }
      }

      .bar2 {
        background-color: #00BCC8;
        width: 22px;
        margin-left: 13px;
      }
    }

    .menu {
      width: 70%;
      display: flex;
      justify-content: space-evenly;

      @media screen and (max-width: $small-screen) {
       width: 100%;
       min-height: 100vh;
       position: absolute;
       background-color: #121212;
       flex-direction: column;
       display: block;
       padding-top: 140px;
       top: -150vh;
       transition: transform 0.5s;
      }
      
   .souligne
   {
    @media screen and (max-width: $small-screen) {
      border-bottom: 1px solid #00BCC8;
    height: 70px;

      }
   }

      .langue{
        @media screen and (max-width: $small-screen) {
         position: absolute;
         top:70%;
         width: 100%;
         }
      }

      li {
        text-decoration: none;
        height: 50px;
        @media screen and (max-width: $small-screen) {
          width: 70%;
          margin: auto;
         }
        

        span {
          color: rgb(128, 216, 208);
        }

        .langueSelect {
          font-size: 20px;
        }

        a {
          text-decoration: none;
          color: white;
          font-family: "Barlow", sans-serif;
          font-weight: 600;
          line-height: 70px;

          &:hover {
            color: #00BCC8;
          }
        }
      }

      .social {
        ul {
          display: flex;
          @media screen and (max-width: $small-screen) {
            position: absolute;
            gap: 5px;
            bottom: 40%;
            left: 50%;
            transform: translateX(-50%);
            
           }
           li{
          
            img {
            width: 30px;
            height: 30px;
            margin-top: 18px;
            margin-left: 5px;

            @media screen and (max-width: $small-screen) {
              width: 50px;
            height: 50px;
              
             }
          }
           }   
        }
      }
    }

    .imgLogo {
      width: 30%;
      position: relative;
      @media screen and (max-width: $small-screen) {
        width: 100%;

      }

      img {
        position: absolute;
        height: 55px;
        top: 10px;
        left: 5%;
        @media screen and (max-width: $small-screen) {
         left: 50%;
         transform: translateX(-50%);
         z-index: 999999;

        }
      }
    }

  }
}


.aboutMixTeam {
  position: relative;
  width: 100%;
  min-height: 100vh;

  .team {
    width: 90%;
    margin: auto;
    display: flex;
    margin-top: 45px;
    flex-wrap: wrap;
    .logoTeam {
      width: 20%;
      text-align: left;
      @media screen and (max-width: $small-screen) {
        width: 100%;
      }

      h4 {
        font-family: "Barlow", sans-serif;
        font-weight: 300;
        font-size: 3em;
        text-align: center;
        @media screen and (max-width: $small-screen) {
          font-size: 30px;
        }

        span {
          color: #00BCC8;
          font-family: Manuscrit;
          @media screen and (max-width: $small-screen) {
            font-size: 70px;
          }
          font-size: 100px;
        }
      }
    }

    .collectionMember {
      width: 80%;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      padding-bottom: 15px;
      @media screen and (max-width: $small-screen) {
        width: 100%;
      }

      .teamMembre {
        .avatar {
          position: relative;
          width: 130px;
          height: 130px;
          border-radius: 65px;
          margin: auto;
          border: 2px solid black;
          img {
            width: 100px;
            height: 100px;
            border-radius: 65px;
            position: absolute;
            top: 15px;
            left: 15px;
          }

          .pict {
            opacity: 0;
            width: 130px;
            height: 130px;
            border-radius: 65px;
            top: 0px;
            left: 0px;
            margin: auto;
          }

          .noPict {
            opacity: 0;
            width: 106px;
            height: 103px;
            border-radius: 65px;
            position: absolute;
            top: 12px;
            left: 12px;
          }

          &:hover {
            .pict {
              opacity: 1;
              transition-duration: 0.1s;
            }

            .noPict {
              opacity: 1;
              transition-duration: 0.1s;
            }
          }
        }

        h2 {
          font-size: 23px;
          padding-top: 15px;
          font-weight: bold;
        }

        h3 {
          color: black;
          font-size: 16px;
          margin-top: 2px;
        }
      }
    }
  }

  .bande {
    width: 150%;
    background-color: #121212;
    height: 100px;
    transform: rotate(-1deg);
    margin-left: -50%;
    margin-top: -1%;
  }

  .about {
    background-color: #121212;
    width: 100%;
    min-height: 60vh;
    overflow: hidden;

    h2 {
      width: 90%;
      margin: auto;
      text-align: right;
      padding-top: 75px;
      font-family: "Abel", sans-serif;
      color: white;
      font-size: 55px;
      text-decoration: underline solid 2px;
      text-underline-offset: 25px;

      font-weight: 100;
      text-decoration-color: #00BCC8;
      @media screen and (max-width: $medium-screen) {
        font-size: 30px;
        text-underline-offset: 12px;
      }
      @media screen and (max-width: $small-screen) {
        top: 20%;
      }
    }

    .contenuAbout {
      width: 90%;
      margin: auto;
      padding-top: 60px;
      position: relative;
      display: flex;
      flex-wrap: wrap;
      padding-bottom: 50px;
      h3 {
        color: white;
        font-weight: 200;
        font-size: 44px;
        span {
          font-weight: 500;
        }
      }

      .logoHight {
        width: 50%;

        @media screen and (max-width: $small-screen) {
          width: 100%;
        }

        img {
          width: 350px;
          margin-bottom: 15px;
          @media screen and (max-width: $small-screen) {
           width: 280px; 
          }
        }
      }

      .texteApropos {
        width: 50%;
        text-align: right;
        @media screen and (max-width: $small-screen) {
          width: 100%;
          margin-top: 55px;
        }

        p {
          color: white;
          margin-bottom: 15px;
          font-size: 17px;
          font-weight: 200;

          strong {
            font-weight: 500;
          }
        }

        a {
          text-decoration: none;
          color: white;
          font-family: "Barlow", sans-serif;
          font-weight: 400;
          font-size: 22px;
          line-height: 60px;
          margin-bottom: 45px;
          img {
            padding-left: 15px;
            height: 20px;
          }
        }
      }
    }
  }
}



.service {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: #121212;
  overflow: hidden;

  h2 {
    width: 90%;
    margin: auto;
    padding-top: 75px;
    font-family: "Abel", sans-serif;
    color: white;
    font-size: 55px;
    text-align: left;
    text-decoration: underline solid 2px;
    text-underline-offset: 25px;
    font-weight: 100;
    text-decoration-color: #00BCC8;

    @media screen and (max-width: $medium-screen) {
      font-size: 30px;
      text-underline-offset: 12px;
    }

    @media screen and (max-width: $small-screen) {
      top: 20%;
    }
  }

  .carouFull {
    min-height: 500px;
    width: 100%;
    margin-top: 70px;
    display: flex;
    @media screen and (max-width: $small-screen) {
     display: block;
     
    }
    .left {
      width: 20%;
      text-align: right;
      @media screen and (max-width: $large-screen) {
        width: 35%;
      }
      @media screen and (max-width: $small-screen) {
        width: 80%;
        margin: auto;

       }
      ul {
        @media screen and (max-width: $small-screen) {
          display: flex;
          justify-content: space-around;
          padding-bottom: 40px;
          
         }
        li {
          border-bottom: 1px solid white;
          margin-bottom: 10px;
          @media screen and (max-width: $small-screen) {
            border-bottom: none;
            width: 35px;
            height: 35px;
            background-color: white;
            overflow: hidden;
            border-radius: 20px;
            &:hover{
              background-color: #00BCC8 ;
            }
             
           
           }
          a {
            text-decoration: none;
            line-height: 50px;
            color: white;
            font-size: 20px;
            &:hover {
              color: #00BCC8;
            }
          
            @media screen and (max-width: $small-screen) {
              color: transparent;
              display: block;
             
             }
          }
          .on {
            color:#00BCC8;
          }
        }
      }
    }

    .right {
      width: 80%;
      text-align: center;
      position: relative;
      @media screen and (max-width: $large-screen) {
        width: 65%;
      }
      @media screen and (max-width: $small-screen) {
        width: 100%;
      
      }
    
      .activeService {
        display: block;
      
      }
      .noActiveService {
         display: none;
       
      }
       
      .content {
        display: flex;
        width: 100%;


        .textService {
          width: 60%;
          margin-left: 10%;
          margin-right: 10%;
          margin-bottom: 20px;
          @media screen and (max-width: $large-screen) {
            width: 100%;
          }
          @media screen and (max-width: $small-screen) {
           margin-top: 50%;
           background-color: #121212;
           z-index: 99;
            
          }
          

          h3 {
            color: white;
            margin-top: 10px;
            margin-bottom: 30px;
            font-weight: 400;
            font-size: 35px;
            @media screen and (max-width: $small-screen) {
              width: 160%;
              background-color: #121212;
              margin: 0;
              margin-left: -30%;
              padding-top: 30px;
                  
             }
            
          }
        }
         .text{
         

          @media screen and (max-width: $small-screen) {
                 background-color: #121212;
          width: 150%;
          margin-left: -25%;
          padding-top: 25px;  
           }
              p {
          color: white;
          margin: 15px;
          font-size: 17px;
          @media screen and (max-width: $small-screen) {
            width: 80%;    
            margin: auto;   
           }
        }
             }

        

      }

      .onlink {
        display: block;
        display: flex;
        width: 100%;
      }
     
        img {
        width:auto;
        margin-bottom: 40px;
        height: 330px;
        @media screen and (max-width: $large-screen) and (min-width: $small-screen) {
          display: none;
        }
        @media screen and (max-width: $small-screen) {
          width: 100%;
          height: auto;
          max-height: 400px;
          position: absolute;
          
          
          
        }
      }
    

      
    }
  }

  .bande {
    position: absolute;
    width: 150%;
    background-color: #121212;
    height: 100px;
    transform: rotate(-1deg);
    margin-left: -50%;
    margin-top: -50px;
  }

  .testimonial {
    h3 {
      width: 100%;
      text-align: center;
      font-size: 20pt;
      font-weight: 400;
      text-decoration: underline;
      padding-top: 70px;
      padding-bottom: 50px;
    }
    .sliderMarque {
      width: 100%;
      .marque {
        img {
          max-height: 75px;
          max-width: 140px;
          filter: grayscale(200%);
          margin-left: 10%;
          &:hover {
            filter: grayscale(0%);
            transition-duration: 0.9s;
          }
        }
      }
    }
    background-color: white;
    height: 280px;
  }
}

.Contact {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: #121212;

  h2 {
    width: 90%;
    margin: auto;
    padding-top: 75px;
    font-family: "Abel", sans-serif;
    color: white;
    font-size: 55px;
    text-align: left;
    text-decoration: underline solid 2px;
    text-underline-offset: 25px;
    font-weight: 100;
    text-decoration-color: #00BCC8;

    @media screen and (max-width: $medium-screen) {
      font-size: 30px;
      text-underline-offset: 12px;
    }

    @media screen and (max-width: $small-screen) {
      top: 20%;
    }
  }

  .contentContact {
    width: 90%;
    margin: auto;
    display: flex;
    margin-top: 100px;
    color: white;
    flex-wrap: wrap;

    @media screen and (max-width: $small-screen) {
      margin-top: 40px;
    }
    .left {
      width: 50%;
      @media screen and (max-width: $small-screen) {
        width: 100%;
        margin-bottom: 30px;
      }
      img {
        width: 200px;
        margin-bottom: 15px;
      }

      h3 {
        color: white;
        font-weight: 400;
        font-size: 26pt;
      }

      h4 {
        color: #00BCC8;
        font-size: 14px;
      }

      .horaire {
        padding-top: 40px;
        padding-bottom: 15px;
        font-size: 20px;
      }

      .adresse {
        font-size: 18px;
        padding-bottom: 15px;
      }

      .mail {
        font-size: 22px;
      }

      .phone {
        padding-top: 15px;
        font-size: 22px;
        color: #00BCC8;
      }
    }

    .right {
      width: 50%;
      padding-top: 120px;
      @media screen and (max-width: $small-screen) {
        width: 100%;
        padding-top: 40px;
        padding-bottom: 30px;

      }

      p {
        font-size: 30px;
        font-weight: bold;
      }

      .text2 {
        padding-top: 30px;

        .font {
          font-family: Manuscrit;
          font-size: 75px;
          color: #00BCC8;
          line-height: 90px;
          font-weight: 100;
        }

      }
    }
  }
}

footer {
  width: 100%;
  position: relative;
  background-color: rgba(0, 0, 0, 0.9);
  height: 70px;
  .contentFooter {
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-between;
    .left {
      img {
        height: 50px;
        margin-top: 12px;
      }
    }
    .center {
      p {
        color: white;
        margin-top: 22px;
      }
    }
    .right {
      @media screen and (max-width: $small-screen) {
       display: none;
      }
      img {
        height: 32px;
        margin-top: 18px;
        padding-right: 5px;
      }
    }
  }
}